.price {
    
    .title {
        text-align: center;
        margin-top: 100px;
        h2 {
            font-size: 32px;
        }
        .content {
            text-align: center;
            background-image: url(../../../public/images/price/BackgroundPrice.png);
            background-size: cover;
            padding: 50px 0;
            h3 {
                font-size: 24px;
                font-weight: 600;
                text-decoration: line-through;
                color: #828282;
            }
            h2 {
                font-size: 40px;
                span {
                    font-size: 40px;
                    font-weight: 600;
                    color: $baseRed;
                }
            }
            .desc {
                font-weight: 500;
                font-size: 20px;
            }
            .button {
                padding: 5px 20px;
                margin: 20px 0;
                background-color: $baseColor;
                border-radius: 10px;
                border-color: $baseColor;
                span {
                    font-weight: 600;
                    font-size: 14px;
                    margin-left: 10px;
                    color: $baseWhite;
                }
            }
        }
    }
    
    @media screen and (min-width: 320px) and (max-width: 464px) {
        .title {
            margin-top: 20px;
            h2 {
                font-size: 20px;
                margin-bottom: 20px;
            }
            .content {
                h3 {
                    font-size: 18px;
                }
                h2 {
                    font-size: 20px;
                    span {
                        font-size: 20px;
                    }
                }
                .desc {
                    font-size: 12px;
                }
            }
            .desc {
                font-size: 16px;
            }
        }
    }

    @media screen and (min-width: 465px) and (max-width: 559px) {
        .title {
            margin-top: 20px;
            h2 {
                font-size: 20px;
                margin-bottom: 20px;
            }
            .content {
                h3 {
                    font-size: 18px;
                }
                h2 {
                    font-size: 20px;
                    span {
                        font-size: 20px;
                    }
                }
                .desc {
                    font-size: 12px;
                }
            }
            .desc {
                font-size: 16px;
            }
        }
    }

    @media screen and (min-width: 560px) and (max-width: 779px) {}

    @media screen and (min-width: 780px) and (max-width: 1200px) {}
}
