.sponsor {
    margin: 100px 0;
    text-align: -webkit-center;
    .title {
    border: 1px solid #E2E2E2;
    border-radius: 10px;
    padding: 20px;
    width: 95%;
    }
    .content {
        margin-bottom: 40px;
    }
    h2 {
        font-size: 32px;
    }
    p {
        text-align: center;
        margin-block-end: 5px;
    }
    .sponsortable {
        margin: 10px;
        .ant-card-bordered {
            border: none;
        }
        .ant-card-body {
            padding: 0;
        }
    }
    h4 {
        font-size: 24px;
        color: #C2C2C2;
        margin-top: 20px;
    }
}