.hope {
    background-color: #F7F2FF;
    padding: 10px;

    .title {
        padding: 40px 0;
        margin-top: 100px;

        h2 {
            text-align: center;
            font-size: 32px;
        }

        .desc {
            align-self: center;

            .content {
                font-size: 16px;
                font-weight: 600;
            }
        }
    }

    @media screen and (min-width: 320px) and (max-width: 464px) {
        .title {
            padding: 10px 0;
            margin-top: 0px !important;

            h2 {
                font-size: 16px;
            }

            .desc {
                .content {
                    font-size: 14px;
                }

                .ant-list-item-meta-avatar svg {
                    width: 50px;
                }
            }
        }
    }

    @media screen and (min-width: 465px) and (max-width: 559px) {
        .title {
            padding: 10px 0;
            margin-top: 0px !important;

            h2 {
                font-size: 16px;
            }

            .desc {
                .content {
                    font-size: 14px;
                }

                .ant-list-item-meta-avatar svg {
                    width: 50px;
                }
            }
        }
    }

    @media screen and (min-width: 560px) and (max-width: 779px) {
        .title {
            margin-top: 20px;
            h2 {
                font-size: 20px;
            }

            .desc {
                .content {
                    font-size: 14px;
                }

                .ant-list-item-meta-avatar svg {
                    width: 50px;
                }
            }
        }
    }

    @media screen and (min-width: 780px) and (max-width: 1200px) {
        .title {
            margin-top: 50px;
        }
    }
}