.learn {
    padding: 10px;

    .title {
        .ant-col {
            h2 {
                margin-top: 100px;
                text-align: center;
            }

            h3 {
                color: $baseWhite;
                padding-bottom: 10px;
                border-bottom: solid 2px #ffffff
            }

            .card {
                background-color: $baseColor;
                border-radius: 10px;
                margin: 20px;
                padding: 20px;
            }

            .desc {
                color: $baseWhite;
                align-self: center;
            }

            .CheckCircleOutlined {
                margin-right: 10px;
            }

            ul {
                margin-block-start: 0;
                padding-inline-start: 0;
                font-size: 16px;
            }
        }
    }

    @media screen and (min-width: 320px) and (max-width: 464px) {
        .title {
            .ant-col {
                h2 {
                    margin-top: 20px !important;
                    font-size: 20px !important;
                }
            }
        }
    }

    @media screen and (min-width: 465px) and (max-width: 559px) {
        .title {
            .ant-col {
                h2 {
                    margin-top: 20px !important;
                    font-size: 20px !important;
                }
            }
        }
    }

    @media screen and (min-width: 560px) and (max-width: 779px) {
        .title {
            .ant-col {
                h2 {
                    margin-top: 20px !important;
                    font-size: 20px !important;
                }
            }
        }
    }

    @media screen and (min-width: 780px) and (max-width: 1200px) {}
}