.advertise {
    .title {
        margin-top: 100px;

        .ant-col {
            align-self: self-end;

            h2 {
                color: $baseBlack;
                text-align: center;
                font-size: 32px;
                width: 68%;
            }
        }

        .ant-list-item-meta {
            align-items: center;
        }

        .ant-list-item {
            border-bottom: none;
        }

        span {
            align-items: center;
        }

        .desc {
            width: 70%;
            font-size: 16px;
        }

        .last-row {
            padding: 30px 0;
            background-color: $baseColor;

            h4 {
                font-size: 24px;
                color: $baseWhite;
            }
        }
    }

    @media screen and (min-width: 320px) and (max-width: 464px) {
        .title {
            margin-top: 0px;
            .ant-col {
                h2 {
                    font-size: 20px;
                    width: 100%;
                }
                .desc {
                    width: 100%;
                }
                img {
                    display: none;
                }
            }
            .last-row {
                text-align: -webkit-center;
                h4 {
                    font-size: 16px !important;
                }
            }
        }
    }

    @media screen and (min-width: 465px) and (max-width: 559px) {
        .title {
            margin-top: 0px;
            .last-row {
                text-align: -webkit-center;
                h4 {
                    font-size: 18px;
                }
            }
            .ant-col {
                h2 {
                    font-size: 20px;
                    width: 100%;
                }
                .desc {
                    width: 100%;
                }
                img {
                    display: none;
                }
            }
            .last-row {
                text-align: -webkit-center;
                h4 {
                    font-size: 16px !important;
                }
            }
        }
    }

    @media screen and (min-width: 560px) and (max-width: 779px) {
        .title {
            margin-top: 0px;
            .ant-col {
                h2 {
                    width: 90%;
                    font-size: 24px;
                }
                .desc {
                    width: 100%;
                }
                img {
                    display: none;
                }
            }
            .last-row {
                text-align: -webkit-center;
                h4 {
                    font-size: 18px !important;
                }
            }
        }
    }

    @media screen and (min-width: 780px) and (max-width: 1200px) {
        .title {
            margin-top: 20px;

            .last-row {
                text-align: -webkit-center;
                h4 {
                    font-size: 18px !important;
                }
            }

            .ant-col {
                h2 {
                    width: 90%;
                    font-size: 28px;
                }

                img {
                    width: 98%;
                }

                .desc {
                    width: 100%;
                }

                .ant-list-item {
                    padding: 8px 0;
                }

                .ant-list-item-meta-avatar {
                    width: 40px;
                }

                .ant-list-item-meta-content {
                    margin-left: 20px;
                }
            }
        }
    }
}