.advertise {
    .title {
        .ant-col {
            h2 {
                color: $baseBlack;
                text-align: center;
                font-size: 32px;
                width: 68%;
            }
        }

        .ant-list-item-meta {
            align-items: center;
        }

        .ant-list-item {
            border-bottom: none;
        }

        span {
            align-items: center;
        }

        .last-row {
            padding: 30px 0;
            background-color: $baseColor;
            h4 {
                font-size: 24px;
                color: $baseWhite;
            }
        }

        @media screen and (min-width: 320px) and (max-width: 480px) {
            img {
                height: 180px;
                object-fit: cover;
            }
        }

        @media screen and (min-width: 481px) and (max-width: 768px) {
            img {
                height: 340px;
                object-fit: fill;
            }
        }

        @media screen and (min-width: 769px) and (max-width: 1024px) {
            img {
                height: 380px;
            }
        }
    }
}